.background{
    background-color: #292929;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.content{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    animation: row 1.43s ease;
}

.header{
    color: white;
    background-color: #b02020;
    height: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease;
    animation: start 1.43s ease;

}

.Escola:hover{
    background-color: #cfc125;
    color: white;
    transform: scale(1.1);
}

.Escola{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b08c20;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: button 1.43s ease;
}

@keyframes button{
  from{
    transform: translateY(-500px);
  }  
  
  to{
    transform: translateY(0px);
  }

}

@keyframes row {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
    
}

@keyframes start {
    from{
height: 0px;
    }
    to{
height: 100px;
    }

}
